.langSwitcher {
  position: relative;
  z-index: 2;

  &_btn {
    display: grid;
    place-items: center;
    width: 49px;
    height: 49px;
    font-size: 24px;
    border-radius: 50%;
    transition: all 250ms ease-in-out;

    &:hover,
    &:focus-visible {
      color: #fff;
      background-color: #eb1e23;
    }

    &.active {
      pointer-events: none;
      cursor: default;
    }
  }

  &_list {
    position: absolute;
    top: calc(100% + 11px);
    left: 50%;
    display: grid;
    row-gap: 12px;
    padding: 8px 24px;
    font-family: var(--font-montserrat-alternates), sans-serif;
    text-align: center;
    visibility: hidden;
    background-color: #fbfbfb;
    backdrop-filter: blur(4px);
    border: solid 1px #8e8e8e;
    border-radius: 15px;
    opacity: 0;
    transition: all 150ms ease-in-out;
    transform: translateX(-50%) translateZ(0);

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }
}
